@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* Add to original style.css */
.scroll-container {
    padding: .5rem;
}

::-webkit-scrollbar{
    width: 1em;
    height: 0em;
}

:root{
    --primary: #EF5A63;
    --light: #F5F5F5;
    --dark: #161617;
    --light-dark: #313132;
    --gray: #C2C2C2;
    --lightshadow: hsla(0, 0%, 64%,.7);
    --white60: hsla(0, 0%, 96%,.8);
    --primary-light: hsla(356, 82%, 65%,.8);
    
}

.shadow-box {
    margin: 0 auto;
    padding: .7rem;
    background: var(--dark);
    border-radius: 15px;
    /* box-shadow: -5px -5px 15px rgba(var(--light-dark),0.5 ),
                    5px 5px 15px rgba(var(--light-dark),0.5 ); */
    box-shadow: 0 0 15px rgba(0,0,0,1);
    max-width: 1500px;
}

.search-results-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    /* flex-direction: row; */
}

/* .search-results-top > * {
    padding: .5rem;
} */

.search-filter{
    /* float: right; */
    display: flex;
    gap: 1rem;
}

.search-filter > ul {
    display: flex;
    gap: 1rem;
}

.search-filter > ul > li {
    list-style: none;
}

.search-topic > p {
    color: var(--primary-light);
}

.search-topic > * {
    display: inline;
    width: max-content;
}

.search-results-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    /* grid-template-rows: auto; */
}

.result-card {
    background-color: var(--light-dark);
    box-shadow: 5px 5px 6px black,
                -2px -2px 6px var(--lightshadow);
    border-radius: 18px;
    
    margin: .5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;

    /* max-width: 360px;
    max-height: 150px; */
}

.result-card-poster {
    margin: .5rem;
    display: flex;
    align-items: center;
    width: 25%;

    /* width: 300px; */
   

}

.result-card-poster > img {
    width: 100%;
    border-radius: 10px;
}

.genre-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(250px,1fr)); */
    /* grid-template-columns: auto; */
}

.genre-card {
    position: relative;
    /* height: auto; */
    aspect-ratio: 1/1;
    /* width: 100%; */
    margin: .5rem;
    border-radius: 15px;
}

.genre-card > img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    border-radius: inherit;
}

.genre-card > .blur-shade {
    background-color: var(--dark);
    position: absolute;
    top: 0;
    width: 100%;
    
    
    z-index: 50;
    opacity: 0.6;
}

.genre-title {
    position: absolute;
    z-index: 100;
    /* bottom: .5rem; */
    /* margin: 0 auto; */
    /* text-align: center; */
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 100%);
}




@media screen and (min-width: 350px) and (max-width: 440px){    
    .shadow-box {
        margin: 0 .5rem;
        background: none;
        border-radius: none;
        /* box-shadow: -5px -5px 15px rgba(var(--light-dark),0.5 ),
                        5px 5px 15px rgba(var(--light-dark),0.5 ); */
        box-shadow: none;
    }

    .search-results-top > * :not(span,.search-topic > p) {
        /* opacity: 0; */
        display: none;
    }
    
    
}

@media screen and (min-width: 440px) and (max-width: 1080px) {
   
}

/* @media screen and (min-width: 766px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
}

@media screen and (min-width: 810px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
}

@media screen and (min-width: 1040px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
}

@media screen and (min-width: 1334px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
} */

